@import "reset.css";


.logo {
    width: 133px;
    margin: 17px auto;
}

.sign-in-container {
    border: 2px solid brown;
    width: 30vw;
    margin: 10px auto;
    border-radius: 1%;
    box-sizing: border-box;
}

.sign-in-container .sign-in-icon {
    display: block;
    margin: 2px auto;
    border-radius: 50%;
    scale: 0.75;
}
.sign-in-container h3 {
    display: block;
    width: 10vw;
    text-align: center;
    margin: 5px auto;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 2rem;
}
.sign-in-container .input-areas {
    display: block;
    margin: 23px auto;
    padding: 0px;
    border: none;
    border-bottom: 1px solid #444;
    width: 22vw;
    height: 13vh;
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    background-color: transparent;
    transition: font-size 0.3s ease;
}

.sign-in-container .input-areas:hover {
    font-size: 1rem;
}

.sign-in-container .sign-in-form button {
    display: block;
    width: 10vw;
    height: 8vh;
    margin: 45px auto;
    transition: all 0.3s ease;
    font-size: 1rem;
    border-radius: 1%;
    border: 1px solid #ccc;
}

.sign-in-container .sign-in-form button:hover {
    font-size: 1.2rem;
    width: 12vw;
    height: 9vh;
    margin-bottom: 41px;
}